{% extends "layout.html" %}
{% block body %}
   <div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
          <form action="/update/{{service.service_id}}" method="POST">
            <div class="form-group">
              <input type="text" name="service_name" value="{{service.service_name}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="price" value="{{service.price}}" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Обновить
              </button>
            </div>
          </form>
        </div>
      </div>
   </div>
{% endblock %}